<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<H1>Welcome</H1>
<button onclick="start()">start Server</button>
<label id="startInfo"></label>
<p/>
<button onclick="stop()">stop Server</button>
<label id="stopInfo"></label>
<p/>
<button onclick="test()">test</button>
<label id="testInfo"></label>

<form method="post" action="/uploadExcel" enctype="multipart/form-data">
    <input type="file" name="file"><br>
    <input type="submit" value="提交">
</form>
<div class="waifu">
    <div class="waifu-tips"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
</div>
</body>
</html>

<script type="text/javascript">
    function start() {
        sendAjax("/startServer", "startInfo", false, false, null);
    }

    function stop() {
        sendAjax("/stopServer", "stopInfo", false, false, null);
    }

    function test() {
        let person = {'name': 'lihua', 'age': 12};
        let child = {'childName': 'wangwu', 'childAge': 5};
        let children = [child, child];
        let obj = {person, 'list':children};
        let param = JSON.stringify(obj);
        sendAjax("/test", "testInfo", true, true, param);
    }

    function sendAjax(url, id, isPost, isJson, param) {
        let xmlhttp;
        if (window.XMLHttpRequest) {
            //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
            xmlhttp = new XMLHttpRequest();
        } else {
            // IE6, IE5 浏览器执行代码
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange = function () {
            // 回调函数
            if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                document.getElementById(id).innerText = xmlhttp.responseText;
            }
        }
        if (isPost) {
            xmlhttp.open("POST", url, true);
            if (!isJson) {
                xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            } else {
                xmlhttp.setRequestHeader("Content-type", "application/json;charset=UTF-8");
            }
            xmlhttp.send(param);
        } else {
            xmlhttp.open("GET", url, true);
            xmlhttp.send();
        }
    }
</script>